<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>#funfacts WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>#funfacts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FunWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F83B7AF19F9AD4D0081BB1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9E25AF1AB14D1F00B59BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FB57C64199F2598009F5083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FB57C85199F2598009F5083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
